
* {
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1440px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Recipe {
margin: 0 auto;
width: 50vw;
background-color: white;
border-radius: 12px;
padding: 30px;
}

img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(24, 5%, 18%);
}

p {
    color: hsl(30, 10%, 34%);
    line-height: 1.8;
}

.prep-info {
    border-radius: 12px;
    background-color: hsl(330, 100%, 98%);
    padding: 15px;
    color: hsl(332, 51%, 32%);
}

ul {
    line-height: 2;
    color: hsl(30, 10%, 34%);
}

.prep-info li {
    padding-left: 20px;
}


h3 {
    color: hsl(332, 51%, 32%);
    padding-left: 15px;
}

h2 {
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
}

.division {
    height: 0.7px;
    background-color: hsl(30, 18%, 87%);
    margin-top: 30px;
}

.Ingredients li{
    padding-left: 10px;
}

.Ingredients ul {
    padding-left: 23px
}

ol {
    line-height: 2;
    color: hsl(30, 10%, 34%);
    padding-left: 30px;
}

.Instructions li {
    padding-left: 7px;
}

.Nutrition {
    color: hsl(30, 10%, 34%);
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    line-height: 2;
    padding-left: 40px;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 10px 0 10px 35px;
}

.last {
    border-bottom: none;
}

.numbers {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
    padding-left: 140px;
}

@media (max-width: 425px) {

    body {
        background-color: white;
    }

    .Recipe {
        width: 100vw;
        border-radius: 0px;
    }

    .container {
        margin: 0;
    }

    .attribution {
        display: none;
    }

}




